:root {
    --bgdark:  #12151a;
    --fgdark:  #9aafc4;

    --bglight: #161720;
    --border:  #1f242d;
    --fglight: #d8eefa;

    --bgtitle: #4c566a;

    --accent:  #02a4fc;
}

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: none;
    position:relative;
}

@font-face {
    font-family: 'Iosevka Term';
    src: local('Iosevka Term');
}


body {
    background: var(--bgdark);
    color: var(--fgdark);

    font-family:  'Iosevka Term';

/*    user-select: none;
    -moz-user-select: none; */
}


#page {
    margin: 0 auto;
    max-width: 800px;

    background: var(--bgdark);
    color: var(--fgdark);

    font-family:  'Iosevka Term';
    position: relative;
    z-index: 1;
}


.shadow-box {
    box-shadow: 4px 4px 15px 1.5px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 14px
    transition: all 0.4s ease 0s; 
}

main h1 {
    font-size: 16px;
    font-weight: 500;

    color: var(--fglight);
    background: var(--bglight);
    text-align: center;

    padding: 7px;
    margin: 0;

/*     position: relative; */
    z-index: 2;
}

main span:hover {
    /*background-color: var(--accent) !important;*/
    color: var(--accent) !important;
    outline: none;
}

main span {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 2;
    margin: 5px;
    transition: all 0.4s ease 0s; 
}

body.nojs #top-header {
    min-height: 158px;
}

#top-header {
    padding: 15px;
}

.search-box input[type="text"] {
    width: 800px;
    max-width: 100%;

    padding: 5px;
    border: 2px solid var(--border);

    background: var(--bgdark);
    color: var(--fglight);

    font-family: 'Iosevka Term';
    font-size: 16px;
    text-align: center;
    display: block;
    transition: all 0.4s ease 0s; 
}

.search-box input[type="text"]:focus {
    border: 2px solid var(--accent);
    box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
}

.search-box {
    width: 800px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.search-box input[type="text"]:hover {
    border-color: var(--accent);
    box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
}

.search-box {
    padding-top: 12px;
}

main, #header {
    overflow-y: auto;

    display: flex;
    flex-flow: row wrap;
}

.header {
    background-color: var(--bglight);
    width: 100% !important;
    height: 80px;
}

#digital-clock {
    /* margin-left: 87%; */
    display: block;
    text-align: center;
    padding-top: 5px;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.8);
}

#clock {
    display: inline-block;
    font-size: 18px;
}

#date {
    display: inline-block;
    font-size: 14px;
} 

.nav-wrapper {
    margin: 10px;
    border: 2px solid var(--bglight);
    background: var(--bgdark);
    transition: all 0.4s ease 0s; 
}

.nav-wrapper:hover {
    border-color: var(--accent);
    box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
}

.nav-wrapper h1 {
    transition: all 0.4s ease 0s; 

}

.nav-wrapper:hover h1 {
    background: var(--accent);
    color: var(--bgdark);
}

main section {
    flex: 1 1 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
    main section {
        flex: 1 1 50%;
    }
}

@media only screen and (min-width: 768px) {
    main section {
        flex: 1 1 25%;
    }
}

main a {
    color: var(--fglight);
    text-decoration: none;
}

main nav a img {
    width: 1rem;
    height: 1rem;
}

* {
    outline: none;
    text-decoration: none;
}


#notes {
    display: block;
    background-color: var(--bgdark);
    color: var(--fglight);
    border: none;
    padding: 15px;
    margin-right: auto;
    border: 2px solid var(--bglight);
    transition: all 0.4s ease 0s; 
    width: 40px;
    height: 20px;
    margin-bottom: 25px;
    position: fixed;
    left: 0;
    top: 150px;
    z-index: 69;
    margin-bottom: 0px;
    border-radius: 0 5em 5em 0;
    resize: none;
    color: var(--bgdark);
    overflow: hidden;
    margin-left: -40px;
    font-family: "Iosevka Term";
    font-size: 13px;
}

#notes:focus {
    border: 2px solid var(--accent);
    box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
    margin-left: 25px;
    z-index: 420;
    margin-bottom: 25px;
    width: 366px;
    height: 160px;
    border-radius: 0;
    color: #fff;
    overflow: visible;
}

/*#notes:hover {
    border: 2px solid var(--accent);
    box-shadow: 4px 4px 8px 1.5px rgba(0, 0, 0, 0.3);
    margin-left: 25px;
    z-index: 420;
    margin-bottom: 25px;
    width: 350px;
    height: 140px;
    border-radius: 0;
    color: #fff;
    overflow: visible;
}*/

#notes:hover:not(:focus) {
    margin-left: -25px;
}

.pen {
    position: fixed;
    top: 168px;
    left: 0px;
    width: 20px;
    transition: all 0.4s ease 0s; 
    z-index: 69;
    pointer-events: none;
    margin-left: 8px;
}

#notes:focus ~ .pen {
    opacity: 0;
    display: none;
}

#notes:not(:hover) ~ .pen {
    margin-left: -6px;
}

