:root {
    --bgdark:  #181a21;
    --fgdark:  #cccccc;

    --bglight: #1e2129;
    --border:  #393d49;
    --fglight: #cccccc;

    --bgtitle: #4c566a;

    --accent:  #6992c5;
}

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'Iosevka Term';
    src: local('Iosevka Term');
}

body {
    margin: 0 auto;
    max-width: 800px;

    background: var(--bgdark);
    color: var(--fgdark);

    font-family:  'Iosevka Term';

    user-select: none;
    -moz-user-select: none;
}

.shadow-box {
    box-shadow: 5px 5px 10px 5px #101010;
    text-align: center;
    font-size: 14px
}

main h1 {
    font-size: 16px;
    font-weight: 500;

    color: var(--fglight);
    background: var(--bglight);
    text-align: center;

    padding: 7px;
    margin: 0;

/*     position: relative; */
    z-index: 2;
}

main span:hover {
    background-color: var(--accent) !important;
    color: var(--bgdark) !important;
    transition: all 0.4s ease 0s !important;
}

main span {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 2;
    margin: 5px;
}

body.nojs #top-header {
    min-height: 158px;
}

#top-header {
    padding: 20px;
}

#header-cont {
    display: flex;
    flex-flow: row wrap;
}

#analog-clock {
    flex: 1 1 auto;
}

#analog-clock-canvas {
    display: block;
    width: 118px;
    height: 118px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

#digital-clock {
    flex: 1 1 auto;
}

#clock {
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
}

#date {
    text-align: center;
    font-size: 36px;
}

header {
    margin-bottom: 10px;
    width: 100%;
}

header.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

form {
    margin: 10px 10px 0 10px;
}

form input[type="text"] {
    width: 100%;
    box-sizing: border-box;

    padding: 10px;
    border: 2px solid var(--bglight);

    background: var(--bgdark);
    color: var(--fglight);

    font-family: 'Iosevka Term';
    font-size: 20px;
    text-align: center;
}


header.sticky form input[type="text"] {
    opacity: 0.85;
}

header.sticky form input[type="text"]:hover,
header.sticky form input[type="text"]:focus {
    opacity: 1;
}


main {
    overflow-y: auto;

    display: flex;
    flex-flow: row wrap;
}

/*
header.sticky + main {
    padding: 68px 0 10px 0;
}
*/

.nav-wrapper {
    margin: 10px;
    border: 2px solid var(--bglight);
    background: var(--bgdark)
}

form input[type="text"]:hover,
form input[type="text"]:focus {
    border-color: var(--accent);
    transition: all 0.4s ease 0s !important;
}

.nav-wrapper:hover {
    border-color: var(--accent);
    transition: all 0.4s !important;
}

.nav-wrapper:hover h1 {
    background: var(--accent);
    transition: all 0.4s !important;
    color: var(--bgdark);
}

main section {
    flex: 1 1 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
    main section {
        flex: 1 1 50%;
    }
}

@media only screen and (min-width: 768px) {
    main section {
        flex: 1 1 25%;
    }
}

main a {
    color: var(--fglight);
    text-decoration: none;
}

main nav a img {
    width: 1rem;
    height: 1rem;
}
