:root {
--bgdark: #232731;
--bglight: #282d39;
--bglighter: #303644;
--bglightest:  #41485c;
		
--fgdark: #8888a0;
--fglight: #ccccee;
			
--accent: #9ab2dc;
--blue:        #02a4fc;
--green:       #12e689;
--yellow:      #f0d35c;
--red:         #f0185a;
--border: #262c42;
--border1:     #223344;
--border2:     #334455;
--disabled: #696969;
--hover: #000000;
}
	
:root{
	scrollbar-color: var(--accent) var(--bgdark) !important;
	scrollbar-width: thin !important;
}

* {
	scrollbar-width: thin !important;
} 


/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 25/01/2019 */

/* This part imports the Addons file if there is one, so that you don't have to edit the dynamic URL
from the addons rules every time we update anything here */
@import 'addons.css';

/*------ COMMON PART FOR ALL FIREFOX PAGES ------*/
:root {
/* These variable changes the scrollbars size and color. If you use the JS method instead, you don't need to change these.
The scrollbars-width only has 3 acceptable values, auto, thin, and none:
auto = default OS size | thin = half the width (will be hidden in about: pages) | none = hidden scrollbar */
		--scrollbars-width: thin;
		--scrollbars-thumb-color: var(--accent);
		--scrollbars-track-color: var(--bglighter);

/* This is a little fix for all pages in case you have a dark OS theme, you can use a neutral color
like #7f7f7f (graish) or #2066dd (bluish) so that the letters can be seen in either a white or dark background for 
text-inputting things. Leave as "none" for default letter color. */
/*	--text-color-for-input-fields: var(--bglighter);

/* You can put the url of an image that you want to be used as background for the about:home page.
To use, instead of "none;", type: url("URL-OF-THE-IMAGE-GOES-HERE"); <- Don't forget the ending semicolon! */
	--home-background-image: none;

/* These change some Firefox pages colors (Mainly used for the 404 error page) */
	--in-content-page-color: #ccc !important;
	--in-content-page-background: var(--bglight) !important;
	--in-content-text-color: #ccc !important;
	--in-content-box-background: var(--bgdark) !important;
	--in-content-box-background-hover: var(--bglighter) !important;
	--in-content-box-background-active: var(--bglight) !important;
	--in-content-box-border-color: var(--bglighter) !important;
	--in-content-primary-button-background: var(--bglightest) !important;
	--in-content-primary-button-background-hover: var(--blue) !important;
	--in-content-primary-button-background-active: var(--blue) !important;

	/* Variable to change most pages context menu highlights */
	--in-content-context-highlight: var(--blue);

	/* This changes context menu background colors. The last number changes the opacity %. 
	Change that 1 for 0.9 for semitransparent backgrounds */
	--in-content-context-background: rgba(68,68,68, 1); 

	/* Variable to change the about:addons page extension names color */
	--addons-addon-name: var(--blue);
	--addons-addon-name-active: var(--blue);

	/* Variables to change all link colors on most pages */
	--in-content-link-color: var(--blue) !important;
		--in-content-link-color-hover: var(--blue) !important;
		--in-content-link-color-active: var(--blue) !important;
		--in-content-link-color-visited: var(--blue) !important;
	
	/* These change the selected categories color on sidebars on about: pages*/
	--in-content-category-text-selected: var(--blue) !important;
	--in-content-category-text-selected-active: var(--blue) !important;

	/* These change some colors on about:home */
	--home-text: var(--fglight);
	--home-search-engine-choices: var(--bglight);
	--Home-search-item-text-color: var(--blue);

	/* This one changes the border of all boxes with a blue border focus effect */
	--in-content-border-focus: var(--blue) !important;

	/* Buttons background colors */
	--button-background: var(--bglightest);
	--button-background-hover: var(--blue);
	--button-border: var(--bglightest)}

/*------ FILE BROWSING PAGE ------*/
/* This was placed here for bug fixing of styles overriding when testing things, for the 
coloring part, go to the common part for all firefox pages (if you use a global userstyle,
you don't even need these, so just comment it all out).*/
/*@-moz-document url-prefix(file://) {
:root {background-color: var(--bgdark) !important; color: #ccc !important}

/* COMMENT OUT THIS SECTION IF BROWSING LOCAL HTML PAGES */
/* body:not([style="margin-bottom: 8px !important;"]) {
	background: var(--bglight) !important;
	border: none !important} */
/*
pre {padding: 1em !important}

@-moz-document:not(url-prefix(file://)) { h1 {color: #fff !important; border-bottom: none !important} }
tbody > tr:hover {outline: 1px dotted var(--bglighter) !important}
.ellipsis tr:hover {outline: none !important}

#UI_goUp a.up:link, a.file:link, a.dir:link {color: var(--blue) !important}
#UI_goUp a.up:visited, .ellipsis a.file:visited, .ellipsis a.dir:visited {color: var(--blue) !important}
#UI_goUp a.up:hover, .ellipsis a.file:hover, .ellipsis a.dir:hover {color: var(--blue) !important}
#UI_goUp a.up:active, .ellipsis a.file:active, .ellipsis a.dir:active {color: var(--blue) !important}

th {color: #ddd !important}
td {color: #aaa !important}} */

/*------ INPUT BOXES TEXT ------*/

/* This changes the input fields text color (fix for custom OS themes) *//*
@-moz-document url-prefix(http){
form select, input[type=text], input[type=email], input[type=password], input[type=date], 
input[type=datetime-local], input[type=time], input[type=week], input[type=month], 
input[type=number], input[type=search], input[type=tel], input[type=url], textarea 
{color: var(--text-color-for-input-fields) !important}
}

/*------ END OF INPUT BOXES TEXT - SCROLLBAR COLORS BELOW ------*/
:root{
	scrollbar-color: var(--scrollbars-thumb-color) var(--scrollbars-track-color) !important;
	scrollbar-width: var(--scrollbars-width) !important}

*|* {scrollbar-width: var(--scrollbars-width) !important}
/*------ END OF SCROLLBAR COLORS ------*/

/* Ublock Origin element picker window */
#ublock0-epicker aside {
	background: var(--bglight) !important;
	color: #ccc !important;
	border: 1px solid var(--bglighter) !important}

#ublock0-epicker #resultsetCount {background-color: var(--bglighter) !important; color: #ddd !important}

#ublock0-epicker section > div:first-child > textarea {
	background: var(--bglighter) !important; 
	color: #ddd !important;
	border: 1px solid var(--bglighter) !important}

#ublock0-epicker section > div:first-child {border: 1px solid var(--bglighter) !important}

#ublock0-epicker aside #cosmeticFilters li:hover {background: rgba(255,255,255,0.2) !important}

#ublock0-epicker aside button:not(#create) {
		-moz-appearance: none !important;
		border-radius: 3px !important;
		background: var(--bglighter) !important;
		color: #ddd !important;
		border: none !important}

#ublock0-epicker aside button:not(#create):hover {
		background: #111 !important;
		color: #ddd !important}

#ublock0-epicker aside #create {
	-moz-appearance: none !important;
		border-radius: 3px !important;
		background: var(--yellow) !important;
		color: #000 !important;
		border: none !important}

#ublock0-epicker aside #create:hover {
		background: var(--yellow) !important;
		color: #ddd !important}

/* This part covers the preferences page update scrollbox (No, I couldn't put it inside the preferences section) */
#historyItems .scrollbox-innerbox {background-color: var(--bglight) !important}

.update-name {color: var(--green) !important}
.update-type {color: var(--yellow) !important}

.tab-middle, .treecol-text {color: #FFF !important}

/* This part covers all the dialog boxes backgrounds */
dialog, window, .prefpane, 
.prefwindow, .windowDialog {
 	background-color: var(--bgdark) !important;
 	color: #ccc !important}
 	
/* This changes the "add certificate exception" dialog background color */
#badCertAdvancedPanel {background-color: var(--bglight) !important}

.exceptionDialogButtonContainer {background-color: var(--bglighter) !important}

/* This should change the "not found" page image colors */

.connectionFailure #errorPageContainer:not(.button-container),
.netInterrupt #errorPageContainer:not(.button-container),
.netTimeout #errorPageContainer:not(.button-container),
.netReset #errorPageContainer:not(.button-container),
.netOffline #errorPageContainer:not(.button-container),
.dnsNotFound #errorPageContainer:not(.button-container),
.malformedURI #errorPageContainer, #lic-info .license-header:not(a) {filter: invert(98%) hue-rotate(200deg)}

/* This fixes the inverted colors caused by the image filter (since I couldn't directly filter 
only the images */
.connectionFailure #errorPageContainer .button-container,
.netInterrupt #errorPageContainer .button-container,
.netTimeout #errorPageContainer .button-container,
.netReset #errorPageContainer .button-container,
.netOffline #errorPageContainer .button-container,
.dnsNotFound #errorPageContainer .button-container,
.malformedURI #errorPageContainer .button-container,
.connectionFailure #errorPageContainer #text-container,
.netInterrupt #errorPageContainer #text-container,
.netTimeout #errorPageContainer #text-container,
.netReset #errorPageContainer #text-container,
.netOffline #errorPageContainer #text-container,
.dnsNotFound #errorPageContainer #text-container,
.malformedURI #errorPageContainer #text-container, 
#lic-info .license-header p, #lic-info .license-header h1 {filter: invert(98%) hue-rotate(-200deg)}

#errorPageContainer #text-container h1 {color: var(--blue) !important}

#startPrivateBrowsing {
	-moz-appearance: none !important;
	border-radius: 3px !important;
	background: var(--bglighter) !important;
	color: #ddd !important;
	padding: 2px !important}

#startPrivateBrowsing:hover {
	background: var(--bglight) !important;
	color: #fff !important}

/*------ LOG BROWSING PAGE (about:sync-log) ------*/
@-moz-document url-prefix(about:sync-log) {
html {background-color: var(--bgdark) !important}

body {background: var(--bglight) !important; border: 1px solid #111 !important}

h1 {color: #fff !important; border-bottom: none !important}
tbody > tr:hover {outline: 1px dotted var(--bglighter) !important}
.ellipsis tr:hover {outline: none !important}

#UI_goUp a.up:link, a.file:link, a.dir:link {color: var(--blue) !important}
#UI_goUp a.up:visited, .ellipsis a.file:visited, .ellipsis a.dir:visited {color: var(--blue) !important}
#UI_goUp a.up:hover, .ellipsis a.file:hover, .ellipsis a.dir:hover {color: var(--blue) !important}
#UI_goUp a.up:active, .ellipsis a.file:active, .ellipsis a.dir:active {color: var(--blue) !important}

th {color: #ddd !important}
td {color: #aaa !important}}

/*------ VIEW SOURCE ------*/
@-moz-document url-prefix(view-source:){
html {
	background: var(--bgdark) !important;
	color: #ccc !important}

.attribute-name {color: var(--green) !important}
.start-tag, .end-tag {color: var(--yellow) !important}
.attribute-value {color: var(--blue) !important}
}

/*------ HOME/NEWTAB PAGE (About:home, about:newtab) ------*/ 
@-moz-document url-prefix(about:home), url-prefix(about:newtab) {

body { 
 	background-color: var(--bgdark) !important;
		color: var(--home-text) !important;
		overflow: auto !important}

/* Context menus of the web area */
.context-menu {
	background-color: var(--bglighter) !important;
	color: #ccc}

.context-menu > ul > li > a:hover, .context-menu > ul > li > a:focus {
	background-color: var(--in-content-context-highlight) !important}

/* Context menus of the about information area */
.info-option {background-color: var(--bglight) !important; border: 1px solid #000 !important}
.info-option::before {filter: invert(73%) !important}

.info-option-manage button {color: var(--in-content-link-color) !important}

.info-option-manage button:hover {color: var(--in-content-link-color-hover) !important}
.info-option-manage button::after {fill: var(--in-content-link-color) !important}

/* The preferences button */
.prefs-button .icon.icon-settings {fill: #ddd !important}

.prefs-button button:hover, .prefs-button button:focus {background-color: rgba(255,255,255,0.2) !important}

/* The popups part starts here */
.modal-overlay {background: #000 !important}

.modal {
 	background: var(--bgdark) !important;
		border: 1px solid var(--bglighter) !important}

/* The cards borders part starts here */
.card-outer .context-menu-button, .top-sites-list .top-site-outer .context-menu-button {
		background-color: var(--bglighter) !important;
		border: 1px solid var(--bglight) !important;
		fill: rgba(170, 170, 170, 0.8) !important}

.top-sites-list .top-site-outer > a.active .tile, .top-sites-list .top-site-outer > a:focus .tile, 
.card-outer > a.active .card, .card-outer > a:focus .card 
{box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 5px #000 !important}

.top-sites-list .top-site-outer:hover .tile, .top-sites-list .top-site-outer:focus .tile, 
.top-sites-list .top-site-outer.active .tile, .card-outer:-moz-any(:hover, :focus, 
.active):not(.placeholder) 
{box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 5px var(--bglighter) !important}

/* No need to say this goes for the buttons */
.actions button {
		background: var(--bglighter) !important;
		border: none !important;
	color: #fff !important}

.actions button:hover {box-shadow: 0 0 0 5px var(--bglighter) !important}
.actions button.done:hover {box-shadow: 0 0 0 5px var(--blue) !important}

.actions button.done {
		background: var(--blue) !important;
		border: solid 1px var(--blue) !important}

/* Search box style */
#newtab-search-text[keepfocus="true"] {
	box-shadow: 0 0 4px 0 var(--in-content-border-focus) !important;
	border: 1px solid var(--in-content-border-focus) !important}

#newtab-search-text {
	color: var(--home-text) !important}

.search-label {fill: var(--in-content-border-focus) !important}

#searchSuggestionTable {-moz-appearance: none !important}

.contentSearchSuggestionsTable {
		background-color: var(--bglight) !important}

.contentSearchSuggestionsList {
	background-color: var(--bglighter) !important;
		color: #ccc !important}

.contentSearchOneOffsTable {border-top: 1px solid #000 !important}

.contentSearchSuggestionTable .contentSearchOneOffsTable .contentSearchSuggestionsContainer {
	background: var(--home-search-engine-choices) !important}

.contentSearchSuggestionsList .contentSearchSuggestionRow:hover,
.contentSearchSuggestionsList .contentSearchSuggestionRow.formHistory.selected {background: rgba(255,255,255,0.1) !important; color: #fff !important}

.contentSearchSuggestionTable .contentSearchHeader, .contentSearchSuggestionTable .contentSearchSettingsButton {border-color: #000 !important}

.contentSearchOneOffItem:not(.last-row) {border-bottom: 1px solid #000 !important}

.contentSearchSuggestionsContainer button:hover {background: rgba(255,255,255, 0.25) !important}

.contentSearchHeader {
 	background: var(--bglight) !important;
 	color: var(--fglight) !important;
 	border-bottom: 1px solid #000 !important}

.contentSearchSearchWithHeaderSearchText {
	color: var(--Home-search-item-text-color) !important}

.contentSearchSettingsButton {
		background: var(--bglight) !important;
		color: var(--fgdark) !important}

.contentSearchSettingsButton.selected {
		color: var(--fglight) !important}

.contentSearchSettingsButton:active {
		background: linear-gradient(#111,var(--bglight)) !important}

.search-button {
	fill: var(--in-content-border-focus) !important}

/* Firefox news at the bottom of the screen snippets */
#snippets-container, input {
	background-color: var(--bgdark) !important}

#snippets-container p {
	color: var(--home-text) !important}

.snippet p em {
	background: transparent !important;
	font-weight: 900 !important;
	color: var(--home-text) !important}

.monthly-checkbox-label {color: #ccc !important}

.block-snippet-button {
	filter: invert(50%) !important}

.button-link {
	background-color: var(--green) !important;
	color: #FFF !important;
	border: 1px solid var(--green) !important}

.button-link:hover {
	background-color: var(--green) !important;
	color: #FFF !important;
	border: 1px solid var(--green) !important}

.button-link:active {
	background-color: var(--green) !important;
	color: #FFF !important;
	border: 1px solid var(--green) !important}

.button.donation-amount.donation-amount-first, .button.donation-amount.donation-amount-second,
.button.donation-amount.donation-amount-third, .button.donation-amount.donation-amount-fourth {
	background-color: var(--bglight) !important;
	color: #fff !important;
	border: 1px solid var(--bglight) !important}

#snippets-container .button-selected {
	background-color: var(--bgdark) !important;
	border: 1px solid var(--blue) !important}

/* Edit top sites */
input[type=text] {color: #aaa !important}

.edit-menu button.icon.icon-unpin, .edit-menu button.icon.icon-pin, 
.edit-menu button.icon.icon-edit, .edit-menu button.icon.icon-dismiss {
	background-color: var(--bglighter) !important;
	border-right: none !important}

.edit-menu button.icon.icon-edit, .edit-menu button.icon.icon-dismiss {
	border-left: 1px solid var(--bglight) !important}

.edit-menu {border: 1px solid var(--bglight) !important; background-color: var(--bglighter) !important}

.edit-menu button.icon.icon-unpin:hover, .edit-menu button.icon.icon-pin:hover, 
.edit-menu button.icon.icon-edit:hover, .edit-menu button.icon.icon-dismiss:hover {
	background-color: var(--bglighter) !important}

.section-title span, .title span, .card-details p, .form-input-container label span,
.modal-message span, .modal-message p {color: #ccc !important}

.modal-message .icon {fill: #fff !important}

.card-details h4 {color: #ddd}

.actions {border-top: none !important}

.form-wrapper input:hover {border: 1px solid var(--blue) !important}

/* Tour pop-up */
#onboarding-overlay {
	background: rgba(0,0,0,0.5) !important}

#onboarding-overlay-dialog {
	background: var(--bglight) !important;
	border: 1px solid rgba(0, 0, 0, 0.2)}

#onboarding-overlay p, #onboarding-overlay li.onboarding-tour-item-container span:not(.onboarding-active) {
	color: #aaa !important}

#onboarding-overlay header, #onboarding-overlay h1 {color: #FFF !important}

#onboarding-skip-tour-button {
	background: var(--bgdark) !important;
	color: #ddd !important;
	border: 1px solid #111 !important}

#onboarding-skip-tour-button:hover {background: var(--bglight) !important}

#onboarding-skip-tour-button:active {background: #111 !important}

#onboarding-overlay img {filter: invert(90%) hue-rotate(200deg)}

/* This adds a background image of your choice in the main area 
Delete the final /* to use -> */
body {
	background-image: var(--home-background-image) !important;
	background-size: cover !important;
	background-position: center !important}

.prefs-pane .sidebar, .card-outer, .prefs-pane .prefs-modal-inner-wrapper .options, 
.sidebar .actions, #snippets-container, .collapsible-section.top-sites.animation-enabled.active,
.collapsible-section.section.animation-enabled.active {
	background: rgba(0,0,0,0.6) !important}

.context-menu-button.icon {fill: #aaa !important}

.top-site-outer .top-site-icon.rich-icon, 
.top-site-outer .screenshot {background-color: transparent !important}
}

/*------ COMMON ATTRIBUTES ON MOST ABOUT PAGES ------*/
@-moz-document url(about:about), url(about:), 
url(https://www.mozilla.org/credits/), url-prefix(about:cache),
url-prefix(about:checkerboard), url-prefix(about:plugins), 
url-prefix(about:buildconfig), url-prefix(about:support), 
url-prefix(about:profiles), url(about:crashes), url(about:license),
url-prefix(about:memory), url-prefix(about:networking), url(about:performance),
url(about:rights), url(about:robots), url-prefix(about:studies), 
url-prefix(about:telemetry), url(about:url-classifier), url(about:webrtc),
url(about:devtools), url(about:serviceworkers) {

p, pre, li, label {color: #AAA !important}
h1 {color: var(--fglight) !important; font-weight: 700 !important;}
h2 {color: #ddd !important}
h3 {color: #ddd !important}

button {
	-moz-appearance: none !important;
	border-radius: 3px !important;
	background: var(--button-background) !important;
	color: #ddd !important;
	border: 1px solid var(--button-border) !important;
	padding: 0.5em !important}

button:hover {
	background: var(--button-background-hover) !important;
		color: #FFF !important}

textarea {
	-moz-appearance: none !important;
	background: var(--bglight);
	color: #aaa;
	border: 1px solid var(--bglight)}

#action-box {background-color: var(--bglight) !important}
}

@-moz-document url-prefix(about:) {
tree {background-color: var(--in-content-box-background) !important}
treechildren::-moz-tree-row {background-color: transparent !important}
treechildren::-moz-tree-image {fill: var(--in-content-box-background) !important}
treechildren::-moz-tree-row(hover) {background-color: rgba(0,149,221,0.25) !important}
treechildren::-moz-tree-row(selected) {background-color: var(--blue) !important}
}

/*------ ABOUT: PAGES WITH TABLES  ------*/
@-moz-document url-prefix(about:cache), url-prefix(about:plugins), 
url-prefix(about:buildconfig), url-prefix(about:networking),
url-prefix(about:telemetry) {

th {background: var(--bglight) !important; 
	color: #fff !important;
	outline: 1px solid #000 !important;
	padding-left: 4px !important}

td {background: var(--bglighter) !important; 
	color: #ddd !important;
	outline: 1px solid #000 !important;
	border: none !important;
	padding-left: 4px !important}}

/*------ BACKGROUND OF MOST ABOUT PAGES  ------*/
@-moz-document url(about:), url(about:about), url(https://www.mozilla.org/credits/),
url-prefix(about:checkerboard), url(about:accounts), url-prefix(about:cache), 
url-prefix(about:plugins), url-prefix(about:buildconfig), url-prefix(about:memory),
url-prefix(about:support), url-prefix(about:profiles), url(about:robots), url(about:serviceworkers),
url(about:webrtc) {
body, html {background-color: var(--bgdark) !important}}

/* Fix for Ublock Origin Element picker and DOM inspector (while keeping about:blank dark) */
@-moz-document url(about:blank) {
	body:not(#ublock0-epicker) {background: var(--bgdark)}
}

/*------ PAGES WITH PLAIN TEXT OVER BACKGROUND  ------*/
@-moz-document url(about:about), url-prefix(https://www.mozilla.org/credits/), 
url-prefix(about:credits), url(about:devtools), url(about:license), 
url-prefix(about:crashes), url(about:rights), url(about:serviceworkers) {
.container, #reportListUnsubmitted, #reportListSubmitted,
#aboutPageContainer, #welcome-page .box, #welcome-page .features,
#lic-info, #serviceworkers {
	padding: 3em !important; 
	background: #363636 !important; 
	border-radius: 6px !important}

#reportListSubmitted, #welcome-page .features {
	margin-top: 1em !important;
	margin-bottom: 1em !important}

#welcome-page .features {border-top: none !important}

#welcome-page .left-pane {filter: invert(98%) hue-rotate(200deg) !important}

tbody > tr:hover {outline: 1px dotted var(--bglighter) !important}}

/*------ CONTEXT MENUS FOR ALL ABOUT: PAGES ------*/
@-moz-document url-prefix(about:) {

/* This changes the color of the context menus */
menuitem, menu {
	-moz-appearance: none !important;
	background-color: var(--in-content-context-background) !important;
	color: #ccc !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important}

menupopup {
	-moz-appearance: none !important;
	background-color: var(--in-content-context-background) !important;
	border: 1px solid #111 !important}

/* This changes the text of disabled items */
menuitem[disabled="true"],
menu[disabled="true"] {color: var(--bglighter) !important}
	
/* This changes the color on hover of the context-menu items */
menuitem:hover,
menu:hover {
	-moz-appearance: none !important;
	background-color: var(--in-content-context-highlight) !important}

/* This does the same but for disabled ones */
menuitem:hover[disabled="true"],
menu:hover[disabled="true"] {
	-moz-appearance: none !important;
	background-color: var(--bglight) !important}

/* Context menu separator color override */
menuseparator {
	-moz-appearance: none !important;
	margin: 1px 0 1px 2.3em !important;
	height: 1px !important;
	border: none !important;
	background: var(--bgdark) !important;
	padding: 0 !important}}

/*------ ABOUT: PAGE (about:) ------*/
@-moz-document url(about:), url(https://www.mozilla.org/credits/) {
#aboutPageList {color: #ddd !important}}

/*------ DIVS OVER BACKGROUND PAGES ------*/
@-moz-document url(about:robots), url(about:serviceworkers),
url-prefix(about:studies), url(about:webrtc) {
#stage, #errorPageContainer, .warningMessage,
.info-box-content, .stats, .log {background: var(--bglight) !important; border: 1px solid #111 !important}
.fold-trigger {color: #fff !important}
}

/*------ SERVICE WORKERS PAGE (about:serviceworkers) ------*/
@-moz-document url(about:serviceworkers) {
#warning_no_serviceworkers {background: var(--bgdark) !important}
.warningMessage {color: #ddd !important}
}

/*------ CACHE PAGE (about:cache) ------*/
@-moz-document url-prefix(about:cache){
#submit {
	-moz-appearance: none !important;
	background: var(--bglightest) !important;
		color: #FFF !important;
		padding: 0.5em;
	border: 1px solid var(--blue) !important}

#submit:hover {
	background: var(--blue) !important;
		color: var(--bgdark) !important}

#appid {
	-moz-appearance: none !important;
	background: var(--bglight);
	border: 1px solid var(--bglighter);
	color: #ddd}

table#entries tr:nth-child(even) {background-color: var(--bgdark) !important}
}

/*------ CHECKERBOARD PAGE (about:checkerboard) ------*/
@-moz-document url-prefix(about:checkerboard) {
#raw {color: #aaa !important}

th {background: var(--bglight) !important}
td {background: var(--bglighter) !important}
}

/*------ NETWORKING PAGE (about:networking) ------*/
@-moz-document url-prefix(about:networking), url-prefix(about:telemetry) {

.category {color: #ddd !important; font-weight: bold !important}
.category[selected="true"], .category.selected {color: var(--in-content-category-text-selected) !important}

select {border: 1px solid #111 !important}

#ping-picker {
	background-color: var(--bglight) !important; 
	border: 1px solid #111 !important}

#categories, #category-raw {background: var(--bglight) !important}
#categories {margin-bottom: 0 !important}
}

/*------ RIGHTS PAGE (about:rights) ------*/
@-moz-document url-prefix(about:rights){
.rights-header {filter: invert(98%) hue-rotate(200deg) }
.rights-header div {filter: invert(98%) hue-rotate(-200deg)}
}
/*------ DEBUGGING PAGE (about:debugging) ------*/
@-moz-document url-prefix(about:debugging) {

/* This affects the categories part */
#categories {background-color: var(--bglight) !important}

#categories button {
	background-color: var(--bglight) !important;
	color: #fff !important}

#categories button:hover {background-color: var(--bglighter) !important}

#categories button.selected {color: var(--in-content-category-text-selected) !important}

/* This affects the main content part */
.target-list .addon-target-container {
	background-color: var(--bglight) !important; 
	box-shadow: none !important}

.main-content button {
		background: var(--button-background) !important;
		color: #ddd !important;
		border: 1px solid var(--button-border) !important}

.main-content button:hover {
	background: var(--button-background-hover) !important;
		color: #FFF !important;
	text-decoration: none !important}

.addons-tip-icon {filter: invert(100%) !important}

/* These are the alert message that appears on the "workers" category, and the status notice */
.service-worker-multi-process {
	background-color: var(--red) !important; 
	color: #ddd !important;
	border-radius: 6px !important}

span.target-status {background-color: var(--bgdark) !important}
}

/*------ CONFIGURATION PAGE (about:config) ------*/
@-moz-document url(about:config) {
:root {
	--in-content-page-color: #aaa !important;
	--in-content-page-background: var(--bglight) !important;
	--in-content-primary-button-background: var(--red) !important;
	--in-content-primary-button-background-hover: var(--red) !important;
	--in-content-primary-button-background-active: var(--red) !important;
	--in-content-text-color: var(--green) !important;
	--in-content-item-selected: var(--blue) !important;
	--in-content-box-background: var(--bglight) !important;
	--in-content-box-background-hover: var(--bglight) !important;
	--in-content-box-background-active: var(--bglighter) !important}

#configTreeBody::-moz-tree-row(odd) {
	background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)) !important}

/* Warning pre-title before the actual config page (D'uh) */
#warningTitle {color: #FFF !important}}

/*------ PLUGINS PAGE (about:plugins) ------*/
@-moz-document url-prefix(about:plugins), url-prefix(about:buildconfig) {
.notice {
	background-color: #101010 !important;
	color: var(--yellow) !important}

.notice a:link {color: var(--blue) !important}

dl {color: #ddd !important}}

/*------ MEMORY LOAD PAGE (about:memory) ------*/
@-moz-document url-prefix(about:memory){
.opsRow {
	background-color: var(--bglight) !important;
	color: #AAA !important;
	border: 1px solid #111 !important}
}

/*------ DOWNLOADED FILES PAGE (about:downloads) ------*/
@-moz-document url(about:downloads){
:root {
	--in-content-page-background: var(--bgdark) !important;
	--in-content-text-color: #aaa !important;
	--in-content-box-background: #404040 !important;
	--in-content-box-border-color: var(--bglighter) !important}}

/*------ INFORMATION PAGES WITH TABLES ------*/
@-moz-document url-prefix(about:support), url-prefix(about:profiles), 
url(about:performance), url(about:url-classifier) {

:root {
	--in-content-table-header-background: var(--bglight) !important;
	--aboutSupport-table-background: var(--bglighter) !important;
	--aboutProfiles-table-background: var(--bglighter) !important;
	--in-content-link-color-hover: var(--blue) !important;
	--in-content-box-border-color: #aaa !important;
	--in-content-table-border-dark-color: #000 !important;
	--in-content-border-color: #000 !important}

td {background: var(--bglighter) !important}

.page-subtitle {color: #ddd !important}

#profiles hr {display: none !important}
}

/*------ SETTINGS/ADDONS COMMON PART (about:preferences, about:addons) ------*/
@-moz-document url-prefix(about:preferences), url-prefix(about:addons){

/* Sidebar */
:root {
	--in-content-page-background: var(--bglight) !important;
	--in-content-category-text: #fff !important;
	--in-content-text-color: #fff !important;
	--in-content-selected-text: #000 !important;
	--in-content-item-selected: var(--in-content-category-text-selected) !important;
	--in-content-item-hover: rgba(0,90,170,0.25) !important;
	background-color: var(--bglight) !important}

/* Main Content */
.main-content {
 	background-color: var(--bglight) !important;
		color: #AAA !important}

.navigation {
	background-color: var(--bgdark) !important;
	margin-right: 0 !important;
}

.category[selected=true], .category[current="true"] {
	background-color: var(--bglight) !important;
	border-left: 4px solid var(--fglight) !important;
}

.groupbox-title, 

/* These last two apply to some general panel labels in the preferences page (if 
it's updated and if its the default browser) */
#isDefaultLabel, #updateBox {color: #FFF !important}

/* Search Panel, Dialog boxes and inputs in general */
#engineList, .dialogBox > .groupbox-title, #browserHomePage,
#searchInput {background-color: var(--bglight) !important}

.dialogTitleBar {background: var(--bglight) !important; border-bottom: 1px solid var(--bglighter) !important}
.dialogTitleBar label {color: #fff !important}
}

/*------ SETTINGS PAGE (about:preferences) ------*/
@-moz-document url-prefix(about:preferences){

.dialogBox {background-color: var(--bgdark) !important}

/* Selector tables */
#applicationsGroup richlistitem[selected="true"] {
	background-color: rgba(255,255,255, 0.2) !important;
	color: var(--blue) !important}

/* Search bar images on "search" category */
image.searchBarImage {filter: invert(92%) hue-rotate(180deg)}

/* This changes some of the buttons color */
.accessory-button, button {
	-moz-appearance: none !important;
	border-radius: 3px !important;
	background: var(--button-background) !important;
	color: #ddd !important;
	border: 1px solid var(--button-border) !important}

.accessory-button:hover, button:hover {
	background: var(--button-background-hover) !important;
		color: #FFF !important}

treecol {
	background-color: var(--bglighter) !important;
	color: #FFF !important}

treecol:hover {background-color: var(--bglighter) !important}

.fxaSyncIllustration, #fxaNoLoginStatus .fxaProfileImage {filter: invert(98%) hue-rotate(200deg)}

.extension-controlled > description {
	color: #000 !important;
	filter: invert(81%) !important}
}

/*------ EXTENSIONS PAGE (about:addons) ------*/
@-moz-document url-prefix(about:addons){

#category-box {
	background-color: var(--bgdark) !important;
}

.main-content {
	background-color: var(--bglight) !important;
}
	
/* Context menus*/
#header-utils-btn .scrollbox-innerbox,
.arrowscrollbox-scrollbox {background-color: var(--bglight) !important}

/* This changes some of the buttons color */
.accessory-button, button, #header-utils-btn {
	-moz-appearance: none !important;
	border-radius: 3px !important;
	background: var(--bglighter) !important;
	color: #eee !important;
	border: none !important}

#header-utils-btn {fill: black !important}

.accessory-button:hover, button:hover, 
#header-utils-btn:hover {
	background: var(--bglight) !important;
		color: #FFF !important}

/* These change the addons background colors */
.card {
	max-width: 800px !important}

.addon .description {color: #aaa !important}

.addon:hover {
	background-color: var(--bglightest) !important;
	box-shadow: none !important}

.addon {
	background: var(--bgdark) !important;
}

.addon:hover .description {color: #ccc !important}

.content-inner-container .basicinfo-container {color: var(--addons-addon-name) !important}
.addon.addon-view[selected="true"] .basicinfo-container {color: var(--addons-addon-name-active) !important}

.addon.addon-view[active="false"] {opacity: 0.7}
.addon.addon-view[active="false"] .basicinfo-container, 
.addon.addon-view[active="false"] .description {color: #888 !important}

.addon.addon-view[selected="true"] .description {color: #FFF !important}

/* This changes the background highlight color of uninstalled extensions */
.addon-view[pending="disable"], .addon-view[pending="uninstall"] {
		--view-highlight-color: #111 !important}

/* These change the selectors on the plugins page */
.addon-control.state.no-auto-hide {background-color: #383838 !important}
.addon-control.state.no-auto-hide:hover {background-color: var(--bglight) !important}
.addon-control.state.no-auto-hide[open="true"] {background-color: var(--bglight) !important}

.menulist-label-box {background: transparent !important}

/* Should be self explanatory... but this is the alert message that goes over the addons list */
.alert, .message-bar {
	border: 1px solid var(--bglight) !important;
	background-color: rgba(255,255,255,0.10) !important;
	color: #Fff !important}

/* Description of the addons/themes */
.detail-view-container {color: #ccc !important}

#detail-contributions {
	background-color: rgba(0,0,0,0.15) !important; 
	border: 1px solid var(--bglight) !important}

#detail-rows * {text-shadow: none !important}

#detail-rows .detail-row-label {color: #fff !important}

#detail-contrib-description {color: #aaa !important}
}

/* This is still in the addons page, it's the "discover" page thing */
@-moz-document url-prefix(https://addons-discovery.cdn.mozilla.net), url-prefix(https://discovery.addons.mozilla.org) {

.disco-content h1, .content h2,
.DiscoPane-header-intro h1 {color: #FFF !important}

.disco-content p, .content p, .content blockquote,
.DiscoPane-header-intro p {color: #AAA !important}

#react-view {background-color: var(--bglight) !important}

.addon.theme, .addon.extension, .addon.theme {background-color: var(--bgdark) !important}

.heading a {color: var(--blue) !important}
.heading a:visited {color: var(--blue) !important}
.heading a:hover {color: var(--blue) !important}
.heading a:active {color: var(--blue) !important}
}

/*------ HEALTHREPORT PAGE (about:healthreport) ------*/
@-moz-document url-prefix(https://fhr.cdn.mozilla.net/){
.headerContainer, .persistentHeader {
	background: var(--bgdark) !important;
	color: #ddd !important}

.sidebar, #health, body, .tipBox-container {
	background: var(--bglight) !important;
	color: #ddd !important}

li {color: #ddd !important}

span, .statsBoxSection-header {color: #fff !important}

.tipBox-header {
	background: var(--bglight) !important;
	color: #ddd !important}

.tipBox-content {background: var(--bglighter) !important}
}

/*------ MOZILLA ADDONS PAGE (Includes both the new and the old) ------*/
@-moz-document url-prefix(https://addons.mozilla.org) {

html, .App-content, tr.LanguageTools-table-row:nth-child(even), 
#main-wrapper, #search-tools-sidebar, .primary, .secondary, #search-tools-sidebar li a, body.restyle,
.Card-footer, .Paginate 
{background: var(--bgdark) !important}

#footer {
		background-color: var(--bgdark) !important;
		background-image: linear-gradient(to bottom,var(--bgdark) 0,var(--bgdark) 123px,
			#000 123px,#000 200px,#101010 200px,rgba(90,90,90,0) 400px) !important}

.listing-header, .listing .item, .object-lead, .listing-footer {
	background: linear-gradient(var(--bgdark), var(--bglight)) !important;
	border-bottom: 1px solid #000 !important}	

#search-tools-sidebar {border-radius: 0px !important}

#react-autowhatever-1 * {background-color: var(--bglight) !important}

.Hero .Card-contents, .Home-SubjectShelf .Card-contents, 
.CardList .Card-header, .CardList .Card-contents, a.SearchResult-link, 
.Card-contents, .Card-Header, ul.AddonsCard-list li.SearchResult, ul.AddonsCard-list,
.ExpandableCard .Card-header, span .Paginate-item.disabled.Paginate-previous,
.Card-header, .Card-footer-text, .Card-footer-link, a.ShowMoreCard-expand-link,
a.Addon-all-reviews-link, .MetadataCard, .Card-contents ul li, .LandingPage-header,
.highlight, .AutoSearchInput-query, .Search .SearchResults-message  {
	background-color: var(--bglight) !important;
	color: #ccc !important}

.HeroSection-content {color: #fff !important}

.Search .AddonsCard-list .SearchResult {border-bottom: 1px solid #000 !important}

.PermissionsCard-list .Icon {filter: brightness(700%) !important}

.extra .button.disabled.not-available {background-color: var(--bglight) !important; border: 1px solid var(--bglighter) !important}

#search-facets .facets {background: transparent !important}

#search-facets .facets .facet.active, #search-facets .facets .facet, 
#sorter > ul > li.extras ul, #sorter > ul > li.extras a:hover {background-color: var(--bglight) !important; border: 1px solid var(--bglighter) !important}
#search-facets .facets .facet.active, #search-facets .facets .facet:hover,
#sorter > ul > li.extras > ul > li > a:hover {background-color: var(--bglight) !important}

button:not(.pswp__button):not(.pswp__ui):not(.AutoSearchInput-submit-button):not(.Icon-arrow):not(.DropdownMenu-button), 
.PermissionCard-learn-more, .AddAddonToCollection-select, #CollectionSort-select {
	background-color: var(--bglighter) !important;
	color: #FFF !important}

button:not(.pswp__button):not(.pswp__ui):not(.AutoSearchInput-submit-button):not(.Icon-arrow):not(.DropdownMenu-button):hover, 
.PermissionCard-learn-more:hover, .AddAddonToCollection-select:hover {
	background-color: var(--bglight) !important;
	color: var(--blue) !important}

.other-categories .divider {border-top: 1px dotted #000 !important}

.listing-footer {border-top: 1px solid #000 !important}

.item .item-info {
		border-left: 1px dotted #000 !important;
}

button.DropdownMenu-button, button.TooltipMenu-opener, 
button.SearchForm-submit-button, ul.LanguageTools-addon-list li,
#aux-nav > ul > li {background: transparent !important}

ul.DropdownMenu-items, ul.TooltipMenu-list, .TooltipMenu-arrow, 
ul.TooltipMenu-list li.ListItem, tr.LanguageTools-table-row:nth-child(odd) {
	background-color: var(--bgdark) !important;
	color: #ccc !important}

ul.TooltipMenu-list li.ListItem, ul.LanguageTools-addon-list li, .highlight 
{border: none !important}

th.LanguageTools-header-cell {background-color: #101010 !important}

.Home-SubjectShelf-link:active, .Home-SubjectShelf-link:focus, 
.Home-SubjectShelf-link:hover, a.Button.Categories-link:hover 
{color: #0d96ff !important}

.Home-SubjectShelf-link:link, .Home-SubjectShelf-link:visited 
{color: #343a40 !important}

a.SearchResult-link h2, span, label *, 
p, a, h4, h2, blockquote, li, .num-results 
{color: #ccc !important}

.header-bg {
		background-color: #000 !important;
		background-image: linear-gradient(to bottom,transparent 0,transparent 100px),
		linear-gradient(to bottom,rgba(90,90,90,0) 0,var(--bglighter) 500px,#fff 0),
		repeating-linear-gradient(118deg,rgba(12,153,213,0) 0,var(--bglight) 550px,rgba(90,90,90,0) 550px,var(--bglight) 800px,
		rgba(90,90,90,0) 800px,var(--bglight) 950px) !important}

.Paginate .Paginate-item, li.p-popular {background-color: var(--bglight) !important}

.Paginate .Paginate-item:disabled, .Paginate .Paginate-item.disabled, 
.Paginate .Paginate-item:hover, li.p-popular:hover, #search-tools-sidebar li a:hover,
.other-apps li a:hover, #site-search-suggestions a.sel, #site-search-suggestions a:hover, 
#site-search-suggestions.sel a.sel:hover, #site-search-suggestions li p a:hover, 
#other-apps ul.other-apps, #addon-list-options li:not(.selected) a:hover, 
.pagination li:not(.selected) a:hover, #aux-nav > ul > li:not(:first-child)::before, 
#addon-list-options li:not(.selected) a:focus, .pagination li:not(.selected) a:focus 
{background-color: var(--bgdark) !important}

a.SearchResult-link:hover h2, span:not(.Addon-author):hover, a:hover {color: var(--blue) !important}

h2.Home-SubjectShelf-subheading, .CardList h2.Card-header, 
h1, .Paginate-page-number, .Badge, a.Button.Categories-link, .install a *, h3
{color: #FFF !important}

.install a.caution {text-shadow: 1px 1px var(--red) !important}

.install strong {color: var(--yellow) !important}

.AMInstallButton-button--uninstall {background-color: var(--red) !important}
.AMInstallButton-button--uninstall:hover {background-color: var(--red) !important; color: #fff !important}

input.SearchForm-query, select#SearchFilters-Sort, select#SearchFilters-AddonType, 
select#SearchFilters-AddonType, select#SearchFilters-OperatingSystem, select#language,
input#search-q {
	background-color: var(--bgdark) !important;
	color: #FFF !important}

#site-search-suggestions .wrap, ul.other-apps {
		background: var(--bgdark) !important;
		border: 1px solid #101010 !important}

.Notice-generic {background-color: var(--bglighter) !important}

.ShowMoreCard-contents::after 
{background: linear-gradient(rgba(48, 48, 48, 0.3), var(--bglight)) !important}
}

/*------ MOZILLA LOGIN PAGE (The login page inside https://addons.mozilla.org) ------*/
@-moz-document url-prefix(https://accounts.firefox.com) {

html, body {background-color: var(--bgdark) !important}

#stage.fade-in-forward .sign-in #main-content.card, #stage #main-content.panel {
	background-color: var(--bglight) !important;
	color: #ccc !important}

form input, .show-password-label {
	background-color: var(--bglight) !important;
	color: #ccc !important}
}

/*------ MOZILLA SUPPORT PAGE (https://support.mozilla.org) ------*/
@-moz-document url-prefix(https://support.mozilla.org/) {


html, body {background-color: var(--bgdark) !important}

h1, h2 {color: #fff !important}
h3 {color: #ddd !important}
p:not(.main-content) {color: #ccc !important}

a:link {color: var(--in-content-link-color) !important}
a:visited {color: var(--in-content-link-color) !important}
a:hover {color: var(--in-content-link-color-hover) !important}
a:active {color: var(--in-content-link-color-hover) !important}

#announcements {background: transparent !important}
#announcements .announce-bar {background-color: var(--bglighter) !important}

body > header {
	background: var(--bglighter) !important;
	border-top: none !important;
	border-bottom: 1px solid #aaa !important;
	color: #ccc !important}

a.btn, a.volunteer-button {color: #fff !important}

.logo {filter: invert(100%) !important}
.footer-logo {fill: #ddd !important}

#aux-nav li a, .question-meta li, .asked-on, .asked-by,
.footnote, #selected-product, .inner-wrap .legend li, #tagged,
div {color: #ccc !important}
#aux-nav li a:hover {background-color: rgba(0,0,0,0.5) !important}

#main-breadcrumbs {background: var(--bglight) !important}
#main-breadcrumbs li:not(a), .card-grid > li > a,
.product-list .product a, .sidebar-header {color: #ccc !important}

.answers .notice, .karma-titles li, .warning, #toc, #doc-content .note, 
.tag-list a, .wiki-doc .vote-wrap {
	background-color: var(--bglight) !important; 
	color: #ccc !important;
	border: 1px solid var(--bglighter) !important}

.main-content, #try-an-article, .grid_6 article, #pw-reset,
#retrieve-username, .hero-bar, .row .content-box, .highlight-box, .wiki-doc {
	background-color: var(--bglight) !important; 
	border-radius: 6px !important; 
	color: #ccc !important}

#doc-content tr:nth-child(2n+1) {background: var(--bglight) !important}

.main-content::before {filter: brightness(27%) !important}

.sidebar-nav > li > span, .sidebar-nav .sidebar-nav > li > span, 
.sidebar-nav .sidebar-nav > li > a, .sidebar-nav .sidebox, .sidebar-nav > li > a,
#email-subscribe-kbox, #showfor-panel,
#register-form, .subtopics > li > a {background-color: var(--bglight) !important; color: #ccc !important}
.sidebar-nav > li > span:hover, .sidebar-nav .sidebar-nav > li > a:hover {color: var(--in-content-link-color) !important}

.button-wrapper .btn, .button-wrapper .btn {color: #fff !important}

.sidebar-nav a {border-color: var(--bglighter) !important}

.cf::before, #document-list > ul > li > a::before, .submit-button {filter: invert(50%)}

.topic-list, #search-results-list .content-box {
	background-color: var(--bglight) !important;
	border: 1px dotted var(--bglighter) !important;
	padding: 10px !important}

.result a, .result a:hover

.sidebox.condensed {border-color: #373737 !important}

.card-grid > li, .card-grid > li::before, .bullet, .feature-box .inner-wrap, .product-list .product,
.sidebar-header, .questions > section, #top-contributors .feature-box {background: var(--bglight) !important}

.questions > section .thread-meta {background: var(--bglighter) !important; border: none !important}

.feature-box .inner-wrap {border: none !important}

.sidebar-nav.sidebar-folding > li.selected > span, .feature-box, .sidebar-nav .selected:not(.subtopic) a {border-color: #822 !important}
.sidebar-nav.sidebar-folding > li.selected > span::before, .sidebar-nav .selected a::before {filter: brightness(25%) !important}

.sidebar-nav a:hover {background-color: #404040 !important; color: var(--in-content-link-color) !important}

.sidebar-nav > li.selected {border-bottom: #373737 !important}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], 
textarea {
	background: var(--bglight) !important; 
	color: #ccc !important}

#search-q {border: 2px solid var(--bglight) !important}

.simple-search-form .searchbox {
	background: var(--bglight) !important}

.simple-search-form input {color: #ccc !important}

#email-subscribe-kbox input[type="submit"], #retrieve-username input[type="submit"], 
#pw-reset input[type="submit"], .btn, span.button, .volunteer-button {
	background: linear-gradient(#2050AA, #203050) !important;
		color: #FFF !important;
		padding: 0.5em;
	border: 1px solid var(--blue) !important;
	box-shadow: none !important}

#email-subscribe-kbox input[type="submit"]:hover, #retrieve-username input[type="submit"]:hover, 
#pw-reset input[type="submit"]:hover, .btn:hover, .volunteer-button:hover {
	background: linear-gradient(#203050, #2050AA) !important;
		color: var(--blue) !important}

.questions #owner-tabs a.selected, .questions #owner-tabs a:hover.selected {background: var(--bglight) !important}

.questions #filter-section {background: linear-gradient(to bottom, var(--bglight),rgba(70,70,70,0.01)) !important}

footer {background: #111 !important}
}

#ublock0-epicker * textarea {

	background-color: var(--bglight) !important;
	color: black !important;

}
