.messageGroupBlocked, .da-messageGroupBlocked {display:none;}
code:not(.inline)::before {
    content: attr(class) "\A" !important;
    font-size: 0.75em;
    opacity: 0.5;
}
:root {
--selected: var(--bglighter);
}


html,
#app-mount,
.container-16j22k,
/*.size-JLvFeT,                /* ?? */
/*.container-16j22k,           /* ?? */
/*.searchBar-6Kv8R2,           /* ?? */
.container-2Thooq,             /* Bottom left user info */
.scroller-2TZvBN,              /* Server Sidebar */
.scroller-2wx7Hm,              /* Channel Sidebar */
.header-2o-2hj,                /* Top-Left Server name */
.title-3qD0b-,                 /* Top bar */
.container-1r6BKw,             /* Top bar */
.resultsGroup-r_nuzN,          /* Top-Right search popup */
.innerNoAutocomplete-1WpcVO,   /* Bottom User message box */
.innerAutocomplete-1PN280,     /* Bottom User message box */
.pad-29zQak,                   /* Padding on the left of scroll bars */
.userPopout-3XzG_A > *,        /* User Popup */
.privateChannels-1nO12o,       /* Sidebar in the home page */
code,                          /* Code blocks */
.searchResultsWrap-2DKFzt,     /* Search sidebar */
.channelSeparator-1X1FuH > *,  /* Search sidebar channel name */
.searchHeader-1l-wpR,          /* Top of search sidebar */
.searchResultMessage-2VxO12,   /* Search Result */
.members-1998pB,               /* Members sidebar */
.header-SsaQ8X,                /* Pinned message header */
.footer-1kmXd4,                /* Pinned message footer */
.messageGroupWrapperOffsetCorrection-phOU-k, /* Pinned messages popup messages */
.emojiPicker-3m1S-j,           /* Emoji picker */
.header-1R_AjF,                /* Header on the channel description popup */
.size-JLvFeT,                  /* Channel description popup */
.category-2U57w6,              /* Emoji picker frequently used */
.sizeSmall-Sf4iOi,             /* Delete message popup */
.footer-2yfCgX,                /* Delete message popup footer */
.autocomplete-1vrmpx           /* Emoji autocomplete box */
{
	background-color: var(--bgdark) !important;
}

.searchResultMessage-2VxO12 { /* Remove shadow from search results */
	box-shadow: none !important; 
} 

/*.menu-Sp6bN1,            /* ?? */
/*.inner-3ErfOT,           /* ?? */
/*.layout-1cQCv2,          /* ?? */
/*.headerTop-3C2Zn0,       /* ?? */
/*.queryContainer-RKFJW-,  /* ?? */
.messagesWrapper-3lZDfY,   /* Main messages box */
.searchBar-3dMhjb,         /* Top-Right search box */
.spacer-1fA9zc > form,     /* Stuff around bottom message box */
.spacer-1fA9zc,            /* Stuff around bottom message box */
.typing-2GQL18,            /* Typing dialog box at the bottom */
.quickMessage-2XpSaN,      /* Message box in user popup */
.note-3HfJZ5,              /* Notes for user in popup */
.header-2BwW8b,            /* User Popout top */
.gatedContent-3-B7qB,      /* NSFW channel thing */
.messagesPopout-24nkyi,    /* Pinned Messages popup inner */
.lightTheme-3LGLQs,        /* Search box in emoji popup */
.friendsTable-133bsv,      /* Friends section */
.menu-Sp6bN1,              /* Top left server popup */
.container-1UB9sr,         /* Voice connected area */
.message-2qRu38,           /* Delete message popup message preview */
.container-3gCOGc,         /* Friends section */
div.queryContainer-RKFJW-.focused-2bY0OD, /* Search for... message in search popup */
.darkTheme-3uETC4.container-2XeR5Z /* Search box in discord homepage */
{
	background-color: var(--bglight) !important;
}

.modeSelected-1zApJ_ .content-3at_AU,  /* Selected channel */
.selected-rZcOL-,          /* Selected element in the search popup */
.selected-3s45Ha,          /* Selected tab in homepage top bar */
.item-3HpYcP:hover,        /* Selected tab in homepage top bar hover */
.channel-2QD9_O:hover,     /* Selected tab in homepage sidebar hover */
.channel-2QD9_O a:hover,   /* Selected tab in homepage sidebar hover */
.selected-1HYmZZ,          /* Selected tab in homepage sidebar */
.selected-1HYmZZ a,        /* Selected tab in homepage sidebar */
.item-1GzJrl:hover,        /* Top left popup hover */
.markup-2BOw-j:hover,     /* Hover on messages */
.content-3dzVd8:hover,     /* Images */
.buttonContainer-KtQ8wc:hover ~ .markup-2BOw-j, /* Hover on message option/react buttons */
[class*="autocompleteRow"] > [class*="selectable"]:hover,  /* Selected emoji in the autocomplete popup */
[class*="autocompleteRow"] > [class*="selectorSelected"]   /* Selected emoji in the autocomplete popup */
{
	background-color: var(--selected) !important;
}

.containerDefault-1ZnADq:hover * .content-3at_AU { /* Hover over a channel in the channel sidebar */
	background-color: var(--bglighter) !important;
}


/* Hide ugly gradient coming from the right on some elements */
.children-19S4PO::after, .resultsGroup-r_nuzN::after, 
.option-96V44q::after, .searchResult-3pzFAB::before, .searchResult-3pzFAB::after {
	color: transparent !important;
	background: none !important;
}


.newMessagesBar-mujexs > *,   /* New messages dialog */
.botTag-2BhDSU,               /* Tag next to username bots have */
.filename-ovv3c5,             /* Filename in upload popup */
.label-3aiqT2 > span,         /* "Add a comment" text in upload popup */
.tabBar-1E2ExX .primary-3j8BhM  /* "Add Friend" button */
{
	color: var(--bgdark) !important;
}

.name-3_Dsmg {  /* Normal channel sidebar text colour */
	color: var(--normalsidebar) !important; 
}

 /*base-gE7OpD stop-animation */

.modeUnread-1zpFdA * .name-3_Dsmg,       /* Unread channels */
.modeUnread-1zpFdA * .icon-1_QxNX path,  /* Unread channels icon */
.markup-2BOw-j,                          /* Main messages */
.markup-2BOw-j > strong,                 /* Bold text */
.modeSelected-1zApJ_ * .icon-1_QxNX path,
.modeSelected-1zApJ_ * .name-3_Dsmg      /* Active channel */
{
	color: var(--fglight) !important;
}
.wrapper-3WhCwL,   /* Channel thing text */
.mention   /* User mention text */
{
	color: var(--accent) !important;
}

*:not(code):not([class*="hljs"]):not(.name-3_Dsmg)
 {
	font-family: Roboto Condensed !important;
	font-size: 12px !important;
}

.name-3_Dsmg {
	font-size: 14px !important;	
}

code, .inline {
	font-family: Monospace !important;
}

*:not(.username-_4ZSMR):not(code):not([class*="hljs"]):not(.name-3_Dsmg):not(button):not(a):not(.primary-3j8BhM):not(.mention):not(em):not(.filename-ovv3c5):not(.markup-2BOw-j)  { /* Set the font colour almost everywhere */
	color: var(--fgdark);
}

hr.divider-32i8lo,            /* hr between messages */
.unread-3zKkbm,               /* Unread channel arrow */
.scrollbar-2rkZSL,            /* Scroll bar - makes it use your native ones */
.messageGroupBlocked-3wrQQX   /* X blocked messages */
{
	display: none !important;
}waiot 

.reactionMe-23mbRf /* React toggled */
{
	background-color: #434c6d !important;
}

div:not(.dividerRed-MKoLlr) > .dividerContent-2L12VI::before, 
div:not(.dividerRed-MKoLlr) > .dividerContent-2L12VI::after 
{
	border-color: var(--bglighter) !important;
}

.dividerRed-MKoLlr > dividerContent-2L12VI::before,
.dividerRed-MKoLlr > dividerContent-2L12VI::after
{
	border-color: var(--red) !important	
}

.dividerRed-MKoLlr > .dividerContent-2L12VI {
	color: var(--red) !important;
}

.scroller-2wx7Hm,
.scroller-2FKFPG{
	overflow-y: auto;
}

a svg.homeIcon-tEMBK1 path {
	color: #eee !important;
}
/*
.name-3_Dsmg {
	font-size: 10px !important;	
}

.content-3at_AU, .wrapper-1ucjTd {
	height: 22px !important;
}
 .channels-Ie2l6A {
	max-width: 160px !important;
}

* {
	font-size: 10px !important;
}
*/

